<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>useraccount</title>
    <link rel="stylesheet" href="/account.css">
</head>
<body>
<header>
    <h2 class="logo">LOGO</h2>
    <nav class="navigation">
       
        <a href="#">Orders</a>
          <a href="/history">History</a>
          <a href="/settings">Setting</a>
        <form action="/auth/logout" method="POST">
            <button type="submit" class="btn">Logout</button>
        </form>
    </nav>
</header>
 
<div class="promote">
    <h4 class="quote">
        Enjoy a smooth and hassle-free printing experience from start to finish
    </h4>
</div>

<button class="btnLogin-popup">Profile</button>

  
<div class="wrapper">

   <div class="profile-wrapper">
  <div class="profile-header">
    <div class="profile-pic">
      <img src="/image/uploaded_images/{{profileImage}}" alt="Profile Image">    
    </div>
    <h2 class="card__title">{{username}}</h2>
  </div>
  <div class="profile-info">
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Phone:</strong> {{phone}}</p>
  </div>
</div>

    
</div>

  
 <div class="order-button">
    <a href="/order" class="order">Place an Order</a>
</div>
<script>
  const profileButton = document.querySelector('.btnLogin-popup');
  const wrapper = document.querySelector('.wrapper');

  function showWrapper() {
    wrapper.classList.add('active-popup');
    document.addEventListener('click', handleOutsideClick);
  }

  function hideWrapper() {
    wrapper.classList.remove('active-popup');
    document.removeEventListener('click', handleOutsideClick);
  }

  function handleOutsideClick(event) {
    if (!wrapper.contains(event.target) && event.target !== profileButton) {
      hideWrapper();
    }
  }

  profileButton.addEventListener('click', showWrapper);
</script>

<script src="./account.js"></script>
<script src="./auth.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>
