@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #162938;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99 ;
}
.logo {
  font-size: 2em ;
  color:white ;
 
  user-select:none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  color: #f9f9f9;
  font-size: .9em;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:transparent ;
  color: black; /* Set the text color */
  min-width: 160px;
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}




.navigation a
{
  position: relative;

  font-size: 1.1em;
  color:#f9f9f9;
  text-decoration: none;
  font-weight: 500;

}
.navigation a::after
{
  content: '';
  position: absolute; 
  left:0 ;
  bottom: -6px; 
  width: 100%;
  height: 3px; 
  background: white;
  border-radius: 5px; 
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after
{
  transform: scaleX(1);
  transform-origin: left;
}
.navigation .btnLogin-popup {
  width: 130px ;
  height:50px ;
  align-items: center;
  background: transparent ;
  border: 2px solid #f9f9f9 ;
  outline :none ;
  border-radius:6px ;
  cursor : pointer ;
  font-size:1.1em ;
  color :#f9f9f9 ;
  font-weight: 500; 
  margin-left: 40px; 
  transition: .5s;
}

.navigation .btnLogin-popup:hover 
{
  background: white;
  color:#162938 ;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  position: absolute;
  top: 32%;
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 100px;
  letter-spacing: 6px;
}
.title h8 {
      font-size: 14px;
      letter-spacing: 4px;
      margin-bottom: 4px;
      font-weight: 500;
}
.content {
  width: 20%;
  margin: 0 auto;
position: absolute;
left: 30px;


}

.lucrative{
  text-align: center;
  color:#1e5f90;
  font-size: 24px;
  margin-bottom: 20px;
}

.article {
  text-align: justify;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 200;
  font-size: 1em;

}
.input-box {
  position: relative;
  margin-bottom: 10px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 15px;
  color: #666;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: 0;
  font-size: 12px;
  color: #666;
}

.input-box input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #162938 !important;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0.3s;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
}

.remember-forget {
  margin-bottom: 20px;
  font-size: 14px;
}

.btn-register {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #162938;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-register {
  text-align: center;
  font-size: 14px;
}

.login-register a {
  color: #007bff;
  text-decoration: none;
}

.login-register a:hover {
  text-decoration: underline;
}
