@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    
    padding: 0;
    margin: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('back.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    margin: 0;
   
}
input:-webkit-autofill {
  -webkit-text-fill-color: #162938 !important;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    z-index: 99 ;
}
.logo {
    font-size: 2em ;
    color:white ;
   
    user-select:none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99 ;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation form {
    margin-right: 40px;
}


.navigation a
{
    position: relative;
    font-size: 1.1em;
    color:#f9f9f9;
    text-decoration: none;
    font-weight: 500;
    margin-left:40px;
}
.navigation a::after
{
    content: '';
    position: absolute; 
    left:0 ;
    bottom: -6px; 
    width: 100%;
    height: 3px; 
    background: white;
    border-radius: 5px; 
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}





span
{
    color:#ff3c00 ;
}

.btn 
{
 
    width: 130px ;
    height:50px ;
    background: transparent ;
    border: 2px solid #f9f9f9 ;
    outline :none ;
    border-radius: 30px;
    cursor : pointer ;
    font-size:1.1em ;
    color :#f9f9f9 ;
    font-weight: 500; 
    margin-left: 40px; 
    transition: .5s;
    
}
.btn:hover 
{
    background: white;
    color:#162938
}
.content
{
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translateY(-50%);
    text-align: center;
   
}
h1
{
    color: white;
    margin: 20px 0px 20px;
    font-size: 1.4em;
}



h3
{
    color: white;
    letter-spacing: 2px;
    margin: 20px 0px 20px;
    padding-left: 15px;
    font-size: 1.1em;
}
.profile-pic {
    position: absolute;
    top:205px;
    left: 46px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .upload-icon {
    position: absolute;
    top:205 px;
    left: 46px;
    display: inline-block;
    cursor: pointer;
  }
  
  .upload-icon .icon {
    font-size: 90px;
    color: #f9f9f9;
    
    
  }
  
  
  /* Hide input file element */
  #upload {
    display: none;
  }
  .wrapper {
    position: absolute;
    flex: 1;
    top: 200px;
    left: 50px;
    width:auto;
    height: 250px;;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    transition: transform 0.5s ease, height 0.2s ease;
    text-align: center;
}
.wrapper .order-summary{
    text-align: center;
    align-items: center;
    font-size: .9em; 
    color: #ffffff;
    margin-top: 10px;
    padding: 20px ;
    font-weight: 500;
    font-style: italic;
    font-family:'Poppins',sans-serif ;
    font-variant: initial;


}

 

  
.form-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
.button {
    width: 300px;
    height: 50px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 2px solid #f9f9f9;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.button:hover {
    background: transparent;
    color: #162938;
  }
  
  #error-message {
    color: red;
    margin-bottom: 10px;
  }
  .container {
    position: relative;
    align-items: center;
    padding-top: 120px;
 
  }
  
  #popup-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
  }
  